*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* assuming browser's default font-size is 16px, 62.5% is 10px */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
